<style>
        .gallery > ul {
            margin-bottom: 0;
            list-style: none;
        }
        .gallery > ul > li {
            float: left;
            margin-bottom: 5px;
            margin-right: 0px;
            width: 200px;
        }
        .gallery > ul > li a {
            border: 3px solid #FFF;
            border-radius: 3px;
            display: block;
            overflow: hidden;
            position: relative;
            float: left;
        }
        .gallery > ul > li a > img {
            -webkit-transition: -webkit-transform 0.15s ease 0s;
            -moz-transition: -moz-transform 0.15s ease 0s;
            -o-transition: -o-transform 0.15s ease 0s;
            transition: transform 0.15s ease 0s;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            height: 100%;
            width: 100%;
        }
        .gallery > ul > li a:hover > img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        .gallery > ul > li a:hover .gallery-poster > img {
            opacity: 1;
        }
        .gallery > ul > li a .gallery-poster {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: background-color 0.15s ease 0s;
            -o-transition: background-color 0.15s ease 0s;
            transition: background-color 0.15s ease 0s;
        }
        .gallery > ul > li a .gallery-poster > img {
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
        }
        .gallery > ul > li a:hover .gallery-poster {
            background-color: rgba(0, 0, 0, 0.5);
        }
        .gallery .justified-gallery > a > img {
            -webkit-transition: -webkit-transform 0.15s ease 0s;
            -moz-transition: -moz-transform 0.15s ease 0s;
            -o-transition: -o-transform 0.15s ease 0s;
            transition: transform 0.15s ease 0s;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            height: 100%;
            width: 100%;
        }
        .gallery .justified-gallery > a:hover > img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        .gallery .justified-gallery > a:hover .gallery-poster > img {
            opacity: 1;
        }
        .gallery .justified-gallery > a .gallery-poster {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: background-color 0.15s ease 0s;
            -o-transition: background-color 0.15s ease 0s;
            transition: background-color 0.15s ease 0s;
        }
        .gallery .justified-gallery > a .gallery-poster > img {
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
        }
        .gallery .justified-gallery > a:hover .gallery-poster {
            background-color: rgba(0, 0, 0, 0.5);
        }
        .gallery .video .gallery-poster img {
            height: 48px;
            margin-left: -24px;
            margin-top: -24px;
            opacity: 0.8;
            width: 48px;
        }
        .gallery.dark > ul > li a {
            border: 3px solid #04070a;
        }
        .home .gallery {
            padding-bottom: 80px;
        }
</style>


<div class="gallery">
    <ul id="lightgallery" class="list-unstyled row">
            {% for file in site.static_files %}
            {% if file.path contains include.folder %}
                {% if file.extname == '.jpg' or 
                file.extname == '.jpeg' or 
                file.extname == '.JPG' or 
                file.extname == '.JPEG' %}
            
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
            
                <li class="col-xs-6 col-sm-4 col-md-3" 
                    data-responsive="{{ file.path | absolute_url }}" 
                    data-src="{{ file.path | absolute_url }}" 
                    data-sub-html="
                        <h4>{{ filename }}</h4>
                        <p></p>" 
                    data-pinterest-text="Pin it" 
                    data-tweet-text="share on twitter">
                    <a href="">
                        <img class="img-responsive" src="{{ file.path | absolute_url }}" alt="Thumb">
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
<script>
    lightGallery(document.getElementById('lightgallery'));
</script>
